<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".DeleteFood"
            android:exported="true"
            android:label="Delete Food"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SingleItem"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddFood"
            android:exported="true"
            android:label="Add Food"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchResults"
            android:exported="true"
            android:label="Search Results"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchFood"
            android:exported="true"
            android:label="Search"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllFood"
            android:exported="true"
            android:label="All Food"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>